html
  head
    link(type='text/css' rel='stylesheet' href='views/css/main.css')


a(href='/')
   button(type='button' class='btn') Home    


strong.error Something went wrong,check the domain format or your internet connection.

         
label.txt Server:No connection   